@import url('https://fonts.googleapis.com/css?family=Oswald|Raleway&display=swap');

body{
	background-color: #F2D5C4;
}

/* Brand Name */
h1 {
	font-family: 'Oswald', sans-serif;
	font-size: 40px;
  	font-weight: bold;
  	color: #699EBF;
  	letter-spacing: .7px;
  	position: relative;
  	top: 6px;
  	left: 30px;
}

/* Devon Beaver */
h3 {
	font-family: 'Oswald', sans-serif;
	font-size: 20px;
	font-weight: bold;
	font-style: italic;
	color: #F2D5C4;
	text-align: left;
	position: relative;	
	top: -15px;
	letter-spacing: .7px;
}

p {
  	font-family: 'Raleway', sans-serif;
  	font-size: 15px;
  	font-weight: 2px;
  	color: #BF6D65;
  	position: relative;
  	top: -10px;
  	word-wrap: break-word;
  	width: 550px;
  	line-height: 1.5;
  	letter-spacing: .7px;
}

/* Mission_Core Principles_Creator Header*/
.h2 {
	font-family: 'Oswald', sans-serif;
	font-size: 30px;
	font-weight: bold;
	color: #699EBF;
	text-align: left;
	position: relative;
	top: 40px
	right: 40px;
	word-spacing: 7px;
	line-height: 2;
	letter-spacing: .7px;
}

/* Mission Statement Copy*/
#mission-statment {
	font-family: 'Raleway', sans-serif;
	font-size: 15px;
  	font-weight: 2px;
  	color: #BF6D65;
  	position: relative;
  	top: -10px;
  	width: 550px;
  	line-height: 1.5;
  	letter-spacing: .7px;
}

ul li {
	content: "\2022";
	color: #F2D5C4;
	font-weight: bold;
	display: inline-block;
	width: 6em;
	margin-left: 0em;
	text-align: center;
}

	/* Core Principle Copy*/
li {
	font-family: 'Raleway', sans-serif;
	font-size: 25px;
	font-weight: bold;
	color: #BF6D65;
	position: relative;
	top: -5px;
	line-height: 1.6;
	letter-spacing: .7px;
	letter-spacing: .7px;
}

#meet_the_creator {
	font-family: 'Oswald', sans-serif;
	font-size: 30px;
	color: #699EBF;
	font-weight: bold;
	word-spacing: 7px;
	letter-spacing: .7px;
}

#slogan {
	font-family: 'Raleway', sans-serif;
	font-size: 15px;
	color: #699EBF;
	font-style: italic;
	position: relative;
	top: -45px;
	left: 210px;
	letter-spacing: .7px;	
}

/* Hero Image */
.hero {
	background-image: url(../images/Homepage.jpg);
	padding: 500px;
	margin: 0px;
	position: relative;
	top: -65px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center top;
}

/* Hero Image Text Overlay*/
.text-block {
	position: absolute;
	top: 75px;
	left: 50px;
	background-color: white;
	color: white;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 35px;
	opacity: .8;
}

/* Slogan Background */
.box {
	background-color: white;
	background-position: center;
	padding: 3px;
